<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>swiftdeploy</title>
        <link rel='stylesheet' href='./static/index.css'>
    </head>
                        
<body > 
	 <header href="" class="app-header" id="app-header" >swiftdeploy</header>
<div href="" class="app-info" id="app-info" >A dummy model you will really like</div>

<div > 
	 <form enctype="multipart/form-data" method="post" > 
	     <p>
                <label for="gender">gender</label>
                <input name="gender"  class="class_gender" type="text" id="id_gender"></input>    
            </p>

    <p>
                <label for="age">age</label>
                <input name="age"  class="class_age" type="number" id="id_age"></input>    
            </p>

    <p>
                <label for="height">height</label>
                <input name="height"  class="class_height" type="number" id="id_height"></input>    
            </p>

    <p>
                <label for="weight">weight</label>
                <input name="weight"  class="class_weight" type="number" id="id_weight"></input>    
            </p>

    <p>
                <label for="married">married</label>
                <input name="married"  class="class_married" type="text" id="id_married"></input>    
            </p>

    <p>
                <label for="educated">educated</label>
                <input name="educated"  class="class_educated" type="true" id="id_educated"></input>    
            </p>

    <p>
                <label for="picture">picture</label>
                <input name="picture"  class="class_picture" type="file" id="id_picture" accept="image/*"></input>    
            </p>

    <p>
                <label for="cv">cv</label>
                <input name="cv"  class="class_cv" type="file" id="id_cv" accept="image/*"></input>    
            </p>

<button type="submit">Submit</button>
 
	 </form>
 
	 </div>
<footer href="" class="app-footer" id="app-footer" >swiftdeploy</footer>
 
	 </body>
</html>