<!DOCTYPE html>
<html lang='en'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>swiftdeploy</title>
        <link rel='stylesheet' href='./static/index.css'>
    </head>

    <body>
        <header href="" class="header_swiftdeploy" id="header_swiftdeploy">swiftdeploy</header>
        <div>
            <form enctype="multipart/form-data" method="POST">
                <p>
                    <label for="name">name</label>
                    <input name="name" class="class_name" type="text" id="id_name"></input>
                </p>
                <p>
                    <label for="age">age</label>
                    <input name="age" class="class_age" type="number" id="id_age"></input>
                </p>
                <p>
                    <label for="dob">dob</label>
                    <input name="dob" class="class_dob" type="date" id="id_dob"></input>
                </p>
                <input type="button" value="submit">
            </form>
        </div>
        <footer href="" class="footer_swiftdeploy" id="footer_swiftdeploy">swiftdeploy</footer>
    </body>

</html>